<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^index\.php$ / [L,R=301]
    RewriteCond %{HTTP_HOST} ^www\.silvergoldrate\.pk [NC]
    RewriteRule ^(.*)$ https://silvergoldrate.pk/$1 [L,R=301]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
# Options +SymLinksIfOwnerMatch
# RewriteEngine On

# # Allow Installatron requests
# RewriteCond %{REQUEST_FILENAME} !deleteme\.\w+\.php

# RewriteRule (.*) - [L] 

# RewriteRule ^ index.php [L]
