  
  .navbar {
    background-color: #ffffff;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
  }
  .navbar-nav .nav-link,
  .footer-nav .nav-link {
    /* color: #2c2c2c !important; */
    font-weight: bold;
  }

  .navbar-nav .nav-link:hover,
  .footer-nav .nav-link:hover {
    color: #ffffff !important;
  }

  .footer {
    background-color: #d4af37;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  .topHeader{
    /* background-color:#04AA6D; */
    background-color: #d4af37;
    
  }
  #navbarNav > a
  {
    color:white;
  }
  .nav-item a {
    color: white !important;
    text-decoration: none;
  }

  .nav-item a:hover {
    background-color:#4f4f4f !important;

  }

  hr.first {
   color:#04AA6D;
 }
 .updatSetting{
  padding-left:20px;
  padding-right:20px;
 }
 .h2-size{
  font-weight:bold;
 }
 .theadClor {
      background-color: #d4af37 !important;
      color: white !important;
  }
  .lastestNews:hover {
    background-color: #2c2c2c; 
    border-radius:5px;
    margin-bottom:10px;
    
  }
  .colr{
      color: #2c2c2c !important; 
  }
  .lastestNews:hover > a {
    color:#d4af37 !important;
    
  }
  
  h1{
    font-size:26px !important;

  }
  h2{
    font-size:24px !important;
  }
  h3{
    font-size:20px !important;
  }
  /* body{
    background-color: #f5f5dc !important;
  } */
  body {
    font-family: 'Roboto' !important;
    font-size: 18px !important;
    line-height: 1.6;
    color: #2c2c2c; 
    background-color: #f5f5dc; 
}

h2, h3 {
  font-family: 'Roboto' !important;
  font-weight:bold !important;
}

.text-capitalize {
  text-transform: capitalize;
}
.textLeft {
  text-align: left !important;
}
/* footer */

.social-icons span:hover {
  background-color: white !important;
}

.social-icons span:hover i {
  color: rgba(33, 37, 41, 0.75);
}
.search-design input{
outline:none;
border:0px;
padding:10px;
background-color:white;
box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
ul li{
margin-top:5px;
}

.textLeft {
  color: #4f4f4f;
}

.social-icons span {
  border-radius: 5px;
  background-color: #4f4f4f;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 4px; /* Add margin for spacing */
}

.social-icons i {
  color: white; /* Add color for the icon */
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: #000; /* Add your preferred color for the links */
}
.copyright {
  margin-top: 2px;
  margin-bottom: 0;
  padding: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #4f4f4f !important;
  color: white; /* Add your preferred text color */
}
